body{
  background-color: #1874CD;
}

.bio{
  color: white;
  border: double;
  width: 700px;
  text-align: center;
  background-color: black;
  border-radius: 40px;

}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  align-items: left;
}
