<!DOCTYPE html>
<html>
  <head>
    <script src="../static/founders.js"></script>
    <link rel="stylesheet" href="../static/founders.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta charset="utf-8">
    <title>Founders</title>
  </head>
  <body>

    <div id= "main">
    <h1>Founders</h1>

    <div class= "bio">
      <h3>Nick Simone</h3>
    <p>
      <img src="nickphoto.jpg" />
      </p>
  </div>

    <div class= "bio">
    <h3>Yelitza Mendez</h3>
    <p>
      <img src="me2.jpg" />
    </p>
    </div>

    <div class= "bio">
      <h3>Cristobal Cortez</h3>
      <p>
      <img src="chrisphoto.jpg" />
      </p>
    </div>
    </div>

  </body>
</html>
