<!DOCTYPE html>
<html>
  <head>
    <script src="founders.js"></script>
    <link rel="stylesheet" href="static/founders.css"></link>
    <meta charset="utf-8">
    <title>Founders</title>
  </head>
  <body>
    <div id= "main">
    <h1>Founders</h1>

    <div class= "bio">
      <h3>Nick Simone</h3>
    <p>
        bio
      </p>
  </div>

    <div class= "bio">
    <h3>Yelitza Mendez</h3>
    <p>
      bio
    </p>
    </div>

    <div class= "bio">
      <h3>Cristobal Cortez</h3>
      <p>
        bio
      </p>
    </div>
    </div>

  </body>
</html>
