#display {
  display: flex;
  flex-direction: row;
}



#topbar {
  border: 3px solid black;
}

#leftsidebar {
  border: 3px solid black;
}


#middlebar {
  border: 3px solid black;
}

#rightsidebar {
  border: 3px solid black;
}
