<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="static/mainhub.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/mainhub.js"></script>
    <title>MainHub</title>
    <meta charset="utf-8">
  </head>
  <body>
<div id="header">
  <div id="topbar">
      <h1>m e e t H U B</h1>

  </div>
</div>
    <div id="center">
    <div id="leftsidebar">
      <h2>Activities</h2>
      <p>

          <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Basketball</a> <br />
          <br />
          <a href= "https://doodle.com/poll/ee946gzwvbmcan6k">Movies</a><br />
          <br />
          <a href= "https://doodle.com/poll/syevipq9mdm7zreb">Bowling</a><br />
          <br />
          <a href= "https://doodle.com/poll/pz8zvnzczfd45dfy">Coffee</a><br />
          <br />
          <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Concert</a><br />

        </p>

    </div>
    <div id="middlebar">
      <h2>Posts</h2>
        {% for content in posts  %}
          <div class="blog"> <h4>{{ content.user }}: {{ content.name }} Date: {{ content.date }}</h4>
            <button id="button_join">Join</button>
           </div>
       {% endfor %}
      <form method="post" action="">
      <h3>Submit an activity: </h3>
      <textarea id="name_box" name="activity_name" rows="10" cols="60"></textarea>
      <button id = "button_ok">Submit</button>
    </form>
    </div>
    <div id="rightsidebar">
      <h2>friend activity</h2>
      <a href="/search">Search for Friends</a>
    </div>
    </div>
    <div id= "bottom">
      <form align="center" name="form1" method="post">
        <a href="/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </form>
    </div>
  </body>
</html>
