<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="mainhub.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="mainhub.js"></script>
    <title>MainHub</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="header">
    <div id="topbar">
      <h1>meetHUB</h1>
    </div>
    <div id="center">
    <div id="leftsidebar">
      <h3>Activities</h3>
      <p>
        <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Basketball</a> <br />
        <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Movies</a><br />
        <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Bowling</a><br />
        <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Coffee</a><br />
        <a href= "https://doodle.com/poll/eegqzzmdsmgg2dsv">Concert</a><br />
      </p>
    </div>
    <!--make log out button-->
    <div id="middlebar">
      <h3>Posts</h3>
      <div id="posts">
      </div>

      <h3>Submit an activity: </h3>
      <textarea id="name_box" name="activity_name"></textarea>

      <button id = "button_ok">Submit</button>
    </div>
    <div id="rightsidebar">
      <h3>Friends</h3>
    </div>
    </div>
  </body>
</html>
