<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/search.css"></link>
    <script src="static/search.js"></script>
    <title>Search for Friends</title>
  </head>
  <body>
    <div id="main">
      <h2>Search for friends: </h2>
      <h4>What is the username? </h4>
      <div class="find_friend">
      <form method="post" action="">
      <textarea id="search_box" name="search_name"></textarea>
    </div>
    <button id = "search_button_ok">Search</button>
    <div id="friend_response">
      {% for u_name in variables %}
        <h4>{% print u_name['users'][0].userID %}</h4>
          <!-- <h4>{{u_name.userID}}</h4> -->
      {% endfor %}
      <h4>Possible Friends: <span id="possible_friends"> </span></h4>
      <a href="/createpost">Main Page</a>
    </div>
    </div>

  </body>
</html>
